li::selection {
  background-color: #aaf8c4;
}

.App {
  height: 100%;
  margin: 0;
  text-align: center;
}

#map {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

/* Media Queries */

@media(max-width: 550px){
  #side-bar {
    visibility: hidden;
    top: 50px;
  }
  #map {
    top: 50px;
  }
  #mobile-nav {
    display: flex;
    flex-direction: row;
  }
}